/* Author: Yuan Tian
Gtihub: https://github.com/magic-YuanTian/SQLsynth */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fancy-highlight {
  animation: color-change 0.5s linear forwards;
  box-shadow: inset 0 0 0 2px rgba(255, 215, 0, 0.7);
  border-radius: 4px;
}

@keyframes color-change {
  0% {
    background-color: rgba(255, 255, 230, 0.1);
  }

  20% {
    background-color: rgba(255, 255, 204, 0.2);
  }

  40% {
    background-color: rgba(255, 255, 153, 0.3);
  }

  60% {
    background-color: rgba(255, 255, 102, 0.4);
  }

  80% {
    background-color: rgba(255, 255, 51, 0.5);
  }

  100% {
    background-color: rgba(255, 255, 0, 0.6);
  }
}

/* .uncovered-highlight {
  animation: color-change2 0.75s linear forwards;
  border-bottom: 2px solid red;
  /* border-radius: 4px; */
/* } */

.uncovered-highlight {
  transition: background-color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 2px solid red;
  background-color: rgba(255, 190, 190, 0.6);
}

@keyframes color-change2 {
  0% {
    background-color: rgba(255, 240, 240, 0.1);
  }

  20% {
    background-color: rgba(255, 230, 230, 0.2);
  }

  40% {
    background-color: rgba(255, 220, 220, 0.3);
  }

  60% {
    background-color: rgba(255, 210, 210, 0.4);
  }

  80% {
    background-color: rgba(255, 200, 200, 0.5);
  }

  100% {
    background-color: rgba(255, 190, 190, 0.6);
  }
}